<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'content/css/materialize.css' %}" />
    <link rel="stylesheet" href="{% static 'content/css/Materialize.min.css' %}" />
    <link rel="stylesheet" href="{% static 'content/css/style.css' %}" />

    <title>Home page</title>
  </head>
  <body>
    <nav class=" section grey darken-4 m2" role="navigation">
      <div class="nav-wrapper container">
        <a href="" class="brand-logo logoA"> <span class="A">A.</span></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#" class="hoverable yellow-text darken-4">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact Me</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#" class="hoverable yellow">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact Me</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
      </div>
    </nav>
<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://images.pexels.com/photos/290595/pexels-photo-290595.jpeg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="black-text">I’M MR.RASHID</h3>
          <h5 class=" black-text">Web Designer & Developer.</h5>
        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/1294671/pexels-photo-1294671.jpeg"> <!-- random image -->
        <div class="caption center-align">
            <div class="raw">
                <div class="col s12">
                    <button class="contact btn white yellow-text "><a href="#contact-sec" style="text-decoration:none;">Contact</a></button>
                </div>
                <div class="raw">
                    <div class="col s12">
                        <button class="resume btn white-text yellow darken-2"><i class="far fa-file fa-1x"></i><a  class="white-text" style="text-decoration:none;">Resume</a></button>
                    </div>
                </div>

            </div>
        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/378570/pexels-photo-378570.jpeg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/1181676/pexels-photo-1181676.jpeg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
   <!-- social media section -->

    <section class=" black lighten-4 section">
        <div class="row center-align">
            <div class="col l4 s2"></div>
            <div class="col l1 s2"><a href="" class=" "><i class="fab fa-github white-text fa-3x"></i></a></div>
            <div class="col l1 s2"><a href="" class=""><i class="fab fa-facebook white-text fa-3x"></i></a></div>
            <div class="col l1 s2"><a href="" class=""><i class="fab fa-linkedin white-text fa-3x"></i></a></div>
            <div class="col l1 s2"><a href="" class="" ><i class="fas fa-envelope white-text fa-3x"></i></a></div>
            <div class="col l4 s2"></div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'content/js/Materialize.min.js' %}"></script>
    <script src="{% static 'content/js/materialize.js' %}"></script>
    <script src="{% static 'content/js/init.js' %}"></script>
  </body>
</html>
